<!--
 * Launcher demo for hector_slam with kinect2
-->
<?xml version="1.0"?>
<launch>
  <arg name="base_name" default="kinect2"/>
  <arg name="image_fromat" default="sd"/> <!-- this fromat has three types [hd, qhd, sd]
  <arg name="scan_topic" default="scan"/>

  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0.0 0.0 0.0 /map /base_footprint 10"/>
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_2_base_link" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_footprint /base_link 10"/>
  <node pkg="tf" type="static_transform_publisher" name="base_link_2_kinect2_link_frame" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /kinect2_link_frame 10"/>
  <node pkg="tf" type="static_transform_publisher" name="kinect2_link_frame_2_nav" args="0.0 0.0 0.0 0.0 0.0 0.0 /kinect2_link_frame /nav 10"/>

  <include file="$(find hector_mapping)/launch/mapping_default.launch"/>
  <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hector_slam_demos)/rviz/hector_slam_demos.rviz" />


  <!-- Kinect2 and depthimage to laserscan -->
  <include file=$(find kinect2_bridge)/launch/kinect2_bridge.launch"/>
  <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan" args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet $(arg base_name)/$(arg base_name)_nodelet_manager">
    <param name="scan_height" value="10"/>
    <param name="output_frame_id" value="/$(arg base_name)_link_frame"/>
    <param name="range_min" value="0.45" />
    <remap from="image" to="$(arg base_name)/$(arg image_fromat)/image_depth_rect"/>
    <remap from="scan" to="$(arg scan_topic)"/>
    <remap from="$(arg base_name)/image" to="$(arg base_name)/$(arg image_fromat)/image_depth_rect"/>
    <remap from="$(arg base_name)/scan" to="$(arg scan_topic)"/>

</launch>
